* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  background-color: black;
  font-family: Helvetica, sans-serif, Arial;
}
header nav {
  height: 10vh;
  width: 100vw;
  box-shadow: 0px 1px 10px 5px rgba(255, 255, 255, 0.2);
  background-color: black;
}
header nav ul {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
header nav ul li {
  margin: 30px;
  padding: 0.9rem;
  font-size: 1.1rem;
  box-shadow: 0px 1px 10px 5px rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  width: 10rem;
  cursor: pointer;
}
header a {
  text-decoration: none;
}
header nav ul li:hover {
  box-shadow: 0px 1px 10px 5px rgba(255, 255, 255, 0.4);
  transition: all 0.5s;
}
article {
  height: 70vh;
  width: 100%;
  display: flex;
}
article section {
  width: 20vw;
  height: 35rem;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0px 1px 10px 5px rgba(255, 255, 255, 0.2);
  padding: 0.9rem;
  text-align: justify;
  margin: 40px;
}
.skills ul {
  list-style: none;
  height: 50%;
}
.skills ul li {
  margin: 5px;
}
.welcome-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 2rem;
  height: 10vh;
}
.welcome-header h1 {
  background-image: linear-gradient(
    90deg,
    rgb(39, 33, 142) 0%,
    rgba(115, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 1px 10px 5px rgba(255, 255, 255, 0.2);
}
